.about {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
}

.info {
  max-width: 500px;
}
